@model parcial.Models.cliente

@{
    ViewBag.Title = "Details";
}

<h2>Detalles Transacciòn</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.no_cuenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.no_cuenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.concepto_pago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.concepto_pago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.monto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_cliente }) |
<p><a class="btn btn-danger" href="http://localhost:49256/Home/Index">Regresar</a></p>
</p>
